<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
    <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  
  <test name="Test on local sandbox - firefox browser">
	<parameter name="browser" value="chrome" />
	<parameter name="ip" value="10.222.115.150" />
	<parameter name="port" value="3333" />      
    <classes>
      <class name="test"/>
      <class name="test2"/>
    </classes>
  </test>
  
  <!-- <test name="Test Windows VM 1 IE Browser ">
	<parameter name="browser" value="internet explorer" />
	<parameter name="ip" value="10.51.231.3" />
	<parameter name="port" value="5555" />      
    <classes>
      <class name="test"/>
	  <class name="test2"/>
    </classes>
  </test>
  
  <test name="Test on Windows VM 2 Chrome Browser ">
	<parameter name="browser" value="chrome" />
	<parameter name="ip" value="10.51.230.251" />
	<parameter name="port" value="6666" />      
    <classes>
      <class name="test"/>
	  <class name="test2"/>
    </classes>
  </test>
  
  <test name="Test on Linux VM Firefox Browser ">
	<parameter name="browser" value="firefox" />
	<parameter name="ip" value="10.51.227.37" />
	<parameter name="port" value="7777" />      
    <classes>
      <class name="test"/>
	  <class name="test2"/>
    </classes>
  </test> -->
 </suite>
